/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties */

:root {
  --clr-main-accent: 75 10% 40%;
  --clr-paragraph-grey: 0 0% 44%;

  --ff-main: "Indie Flower", cursive;
  --ff-accent: "Courier Prime", monospace;

  --fs-h1: clamp(
    1.125rem,
    0.5150602409638554rem + 2.710843373493976vw,
    2.25rem
  );
  --fs-paragraph: 1.125rem;
  --fs-book-title: clamp(
    1.625rem,
    1.286144578313253rem + 1.5060240963855422vw,
    2.25rem
  );
  --fs-author: clamp(
    1.1125rem,
    0.9024096385542169rem + 0.9337349397590362vw,
    1.5rem
  );
  --fs-book-status: clamp(
    0.875rem,
    0.7394578313253012rem + 0.6024096385542169vw,
    1.125rem
  );
  --fs-filter-card: clamp(
    0.75rem,
    0.6144578313253012rem + 0.6024096385542169vw,
    1rem
  );
}

/*------------------- Utility ----------------------------*/

/* Font Families */

.ff-main {
  font-family: var(--ff-main);
}

.ff-accent {
  font-family: var(--ff-accent);
}

/* Colors */
.bg-color {
  background-color: hsl(var(--clr-main-accent) 0.05);
}

.clr-main {
  color: hsl(var(--clr-main-accent));
}

.clr-paragraph {
  color: hsl(--clr-paragraph-grey);
}

/* Font sizes */
.fs-h1 {
  font-size: var(--fs-h1);
}

.fs-paragraph {
  font-size: var(--fs-paragraph);
}

.fs-book-title {
  font-size: var(--fs-book-title);
}

.fs-author {
  font-size: var(--fs-author);
}

.fs-book-status {
  font-size: var(--fs-book-status);
}

.fs-filter-card {
  font-size: var(--fs-filter-card);
}

/* Layouting */

.grid {
  display: grid;
}

.pi-center {
  place-items: center;
}

.ac-center {
  align-content: center;
}

.ji-center{
    justify-items: center;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

/* ----------------------------- Components ---------------------- */
