.book {
  border-bottom: 1px solid hsl(var(--clr-main-accent) / 0.2);
}

.book > img {
  object-fit: cover;
  width: 7.5rem;
}

.book-status {
  display: flex;
  width: min(80%, 15rem);
  color: #fff;
  border-radius: 5px;
  padding-left: 1.2rem;
  padding-block: 0.3rem;
  border: 0;
}

.book-status svg {
  fill: #fff;
}

.rating {
  --gap: 0.1rem;
  flex-direction: row-reverse;
}

.rating svg:hover ~ svg {
  color: black;
}
