.book {
  border-bottom: 1px solid hsl(var(--clr-main-accent) / 0.2);
}

.book > img {
  object-fit: cover;
  width: 7.5rem;
}

.book__icon-group{
  flex-shrink:0;
  --gap: .4rem;
}

.book-status {
  display: flex;
  width: var(--width);
  color: #fff;
  border-radius: 5px;
  padding-left: var(--padding-left);
  padding-block: 0.3rem;
  border: 0;
}

.book-status svg {
  fill: #fff;
}

.rating {
  --gap: 0.1rem;
  flex-direction: row-reverse;
}

.rating svg:hover ~ svg {
  color: black;
}
