.form-wrapper {
  z-index: 1;
  width: min(40rem, 100%);
  height: 30rem;
  background-color: hsla(0 0% 0% / 0.8);
  margin: 2rem auto;
  border-radius: 10px;
}

.add-book-form {
  display: grid;
  border: 2px solid hsl(var(--clr-secondary-accent));
  border-radius: 5px;
  padding: 2rem;
  width: 80%;
}

.add-book-form > label {
  color: white;
}

.add-book-form input {
  width: 100%;
}

.add-book-form__add-button {
  justify-self: end;
  background-color: hsl(var(--clr-secondary-accent));
  color: hsl(var(--clr-main-accent));
}

.add-book-form__close-button {
  right: 12px;
  top: 3px;
  font-size: 1.5rem;
  border: 0;
  background-color: transparent;
}

.popup-entrance-animation {
  animation: popup-entrance-animation 350ms;
}

.wrapper-entrance-animation {
  animation: wrapper-entrance-animation 550ms;
}
@keyframes wrapper-entrance-animation {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popup-entrance-animation {
  0% {
    transform: scale(1.3);
    opacity: 0.5;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.popup-closing-animation {
  animation: popup-closing-animation 350ms;
}

.wrapper-closing-animation {
  animation: wrapper-closing-animation 550ms;
}

@keyframes wrapper-closing-animation {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes popup-closing-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  to {
    /*     transform: scale(1.3); */
    transform: scale(0);
    opacity: 0;
  }
}
