/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

input,
button,
label,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* Custom properties */

:root {
  --clr-main-accent: 75 10% 40%;
  --clr-secondary-accent: 44 100% 72%;
  --clr-white: 255 100% 100%;
  --clr-paragraph-grey: 0 0% 44%;
  --clr-background: 104 10% 10%;

  --ff-main: "Indie Flower", cursive;
  --ff-accent: "Courier Prime", monospace;

  --fs-h1: clamp(
    1.125rem,
    0.5150602409638554rem + 2.710843373493976vw,
    2.25rem
  );
  --fs-paragraph: 1.125rem;
  --fs-book-title: clamp(
    1.625rem,
    1.286144578313253rem + 1.5060240963855422vw,
    2.25rem
  );
  --fs-author: clamp(
    1.1125rem,
    0.9024096385542169rem + 0.9337349397590362vw,
    1.5rem
  );
  --fs-book-status: clamp(
    0.875rem,
    0.7394578313253012rem + 0.6024096385542169vw,
    1.125rem
  );
  --fs-filter-card: clamp(
    0.75rem,
    0.6144578313253012rem + 0.6024096385542169vw,
    1rem
  );

  --pb-bottom-100: 0.125rem;
  --pb-bottom-200: 0.25rem;
  --pb-bottom-300: 0.33rem;
  --pb-bottom-400: 0.6rem;
  --pb-bottom-500: 1rem;
  --pb-bottom-600: 1.5rem;
  --pb-bottom-700: 2rem;
  --pb-bottom-800: 2.33rem;

  --mgrn-bottom-100: 0.125rem;
  --mrgn-bottom-200: 0.25rem;
  --mrgn-bottom-300: 0.33rem;
  --mrgn-bottom-400: 0.6rem;
  --mrgn-bottom-500: 1rem;
  --mrgn-bottom-600: 1.5rem;
  --mrgn-bottom-700: 2rem;
  --mrgn-bottom-800: 2.33rem;
}

/*------------------- Utility ----------------------------*/

/* Font Families */

.ff-main {
  font-family: var(--ff-main);
}

.ff-accent {
  font-family: var(--ff-accent);
}

/* Colors */
.bg-color {
  background-color: hsl(var(--clr-background) / 5%);
}

.bg-color-main {
  background-color: hsl(var(--clr-main-accent));
}

.clr-main {
  color: hsl(var(--clr-main-accent));
}

.bg-color-main-thin {
  background-color: hsl(var(--clr-main-accent) / 0.7);
}

.clr-secondary {
  color: hsl(var(--clr-secondary-accent));
}

.clr-paragraph {
  color: hsl(--clr-paragraph-grey);
}

.clr-white {
  color: white;
}

/* Font sizes */
.fs-h1 {
  font-size: var(--fs-h1);
}

.fs-paragraph {
  font-size: var(--fs-paragraph);
}

.fs-book-title {
  font-size: var(--fs-book-title);
}

.fs-author {
  font-size: var(--fs-author);
}

.fs-book-status {
  font-size: var(--fs-book-status);
}

.fs-filter-card {
  font-size: var(--fs-filter-card);
}
/* Formatting */

.ta-center {
  text-align: center;
}

/* Spacing */

.pb-bottom-100 {
  padding-bottom: var(--pb-bottom-100);
}

.pb-bottom-200 {
  padding-bottom: var(--pb-bottom-200);
}

.pb-bottom-300 {
  padding-bottom: var(--pb-bottom-300);
}

.pb-bottom-400 {
  padding-bottom: var(--pb-bottom-400);
}

.pb-bottom-500 {
  padding-bottom: var(--pb-bottom-500);
}

.pb-bottom-600 {
  padding-bottom: var(--pb-bottom-600);
}

.pb-bottom-700 {
  padding-bottom: var(--pb-bottom-700);
}

.pb-bottom-800 {
  padding-bottom: var(--pb-bottom-800);
}

.pb-bottom-900 {
  padding-bottom: var(--pb-bottom-900);
}

.mrgn-bottom-100 {
  margin-bottom: var(--mrgn-bottom-100);
}

.mrgn-bottom-200 {
  margin-bottom: var(--mrgn-bottom-200);
}

.mrgn-bottom-300 {
  margin-bottom: var(--mrgn-bottom-300);
}

.mrgn-bottom-400 {
  margin-bottom: var(--mrgn-bottom-400);
}

.mrgn-bottom-500 {
  margin-bottom: var(--mrgn-bottom-500);
}

.mrgn-bottom-600 {
  margin-bottom: var(--mrgn-bottom-600);
}

.mrgn-bottom-700 {
  margin-bottom: var(--mrgn-bottom-700);
}

.mrgn-bottom-800 {
  margin-bottom: var(--mrgn-bottom-800);
}

.mrgn-bottom-900 {
  margin-bottom: var(--mrgn-bottom-900);
}

.width-100 {
  width: 100%;
}

/* Layouting */

.grid {
  display: grid;
}

.pi-center {
  place-items: center;
}

.as-center {
  align-self: center;
}

.js-center {
  justify-self: center;
}

.ac-center {
  align-content: center;
}

.ji-center {
  justify-items: center;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  flex-direction: column;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: start;
}

.inline-block {
  display: inline-block;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.inset0 {
  inset: 0;
}

.disp-none {
  display: none;
}

/* Modals, Popups */
.darken {
  opacity: 0.1;
  background-color: hsl(0 0% 0% / 0.1);
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* ----------------------------- Components ---------------------- */

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.wrapper {
  margin-inline: auto;
  max-width: min(90%, 60rem);
  padding-block: 2rem;
  min-height: 100svh;
}

.list-search {
  background-color: #fff;
  width: min(80vw, 25rem);
  border-radius: 5px;
  border: 2px solid hsl(var(--clr-main-accent));
  padding: 0.1rem;
}

.list-search__input {
  appearance: none;
  border: 0;
  outline: none;
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: hsl(var(--clr-main-accent));
}

.list-search__icon-group {
  gap: 0.5rem;
}

.list-search__icon-group::before {
  content: "";
  border: 1px solid hsl(var(--clr-main-accent));
  height: 80%;
}

.list-search__icon-group svg:nth-child(1) {
  order: -1;
}

.list-search__icon-group__loader {
  border-left: 3px solid hsl(var(--clr-secondary-accent));
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1;
  order: -2;
  animation: load linear 450ms infinite;
  box-shadow: 1px 1px 2px hsl(var(--clr-secondary-accent));
  display: none;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

.list-search svg {
  transform: scale(0.8);
}

.list-search-input::placeholder {
  padding-inline: 2rem;
  color: hsl(var(--clr-main-accent));
}

.filter-options {
  background-color: white;
  width: 15rem;
  --gap: 0.5rem;
  right: 0;
  list-style: none;
  top: 3.5rem;
  border-radius: 5px;
  display: none;
}

[aria-expanded="false"] .filter-options.flex {
  display: none;
}

[data-filter] input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

[data-filter] > div {
  flex-shrink: 0;
}

[data-filter] input[type="checkbox"] + svg path {
  transition: stroke-dashoffset 800ms;
}

[data-filter] input[type="checkbox"]:checked + svg path {
  stroke-dashoffset: 0;
}

.filter-cards {
  --gap: 0.4rem;
  color: #fff;
}

.filter-cards > * {
  background-color: hsl(var(--clr-main-accent));
  padding: 0.1rem 0.7rem;
  border-radius: 5px;
  --gap: 1rem;
}

.filter-cards button {
  color: white;
}
